<section id="accueil">
    <img src="/assets/ressource/greenTopRight2.svg" id="greenTopRight2">
    <img src="/assets/ressource/bamboo2.svg" id="bamboo">
    <div id="ourMenu" (click)="changeNavActive('menu')" routerLink="/app-menu" routerLinkActive="active">
        <h2>Nos menus</h2>
    </div>

    <div id="pointsContainer">
        <h2>Vos points</h2>
        <div>
            <p>50pt</p>
            <div id="points" style="max-width: 65%;"></div>
        </div>
    </div>

    <h2>Nos recommandations</h2>
    <div id="recommandationsContainer">

        <ng-container *ngFor="let recommandation of recommandations" >
            <div *ngIf="recommandation.fav == 1" class="recommandation" (click)="selectBoxID(recommandation.id);" routerLink="/app-box" routerLinkActive="active">
                <p>{{recommandation.nom}}</p>
                <div>
                    <p>{{recommandation.prix}}€</p>
                    <div id="stars">
                        <img src="/assets/ressource/star.svg">
                        <p>{{recommandation.stars}}</p>
                    </div>
                </div>
            </div>
        </ng-container>
        
    </div>
</section>
