#box {
    position: relative;
    width: calc(100% - 60px);
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 90px 30px 0px 30px;
    background-color: var(--white);
    color: var(--black);
}

#box > #bamboo{
    position: absolute;
    width: 45%;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

#box > #greenTopRight2 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
    z-index: 1;
}

#box h2 {
    font-weight: 500;
    font-size: 2rem;
}

#box #price {
    font-size: 1.2rem;
    font-family: Poppins;
    font-weight: 600;
    color: var(--green);
}

#box #boxImage {
    margin: 15px 0px;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center center;
    z-index: 2;
}

#box ul li {
    font-family: Poppins;
    font-size: 1rem;
}


#box > form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: self-start ;
}

#box > form .errorMessage {
    color: var(--red);
    margin-top: 10px;
    font-family: Poppins;
    font-size: 0.9rem;
}

#box > form > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#box > form > div > button {
    background-color: var(--green);
    color: var(--white);
    font-size: 1.2rem;
    font-family: Poppins;
    border: none;
    outline: none;
    padding: 0px 9px;
    border-radius: 5px;
}

#box > form > div > button:hover, #box > form > div > button:focus {
    background-color: var(--green-hover);
    transition: 0.3s background-color linear;
    cursor: pointer;
}

#box > form > div > input {
    font-size: 1.2rem;
    font-family: Poppins;
    text-align: center;
    width: 2.3ch;
    border-radius: 5px;
    box-shadow: inset -1px 3px 5px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid white;
}

#box #selection {
    background-color: var(--green);
    color: var(--white);
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: Poppins;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.3s background-color linear;
    cursor: pointer;
}

#box #selection:hover, #box #selection:active {
    background-color: var(--green-hover);
}