<section id="box">
    <img src="/assets/ressource/greenTopRight2.svg" id="greenTopRight2">
    <img src="/assets/ressource/bamboo2.svg" id="bamboo">

    <ng-container *ngFor="let box of boxInfo">
        <h2>{{box.nom}}</h2>
        <p id="price">{{box.prix}} €</p>
        <img src="/assets/ressource/box/{{box.image}}.png" id="boxImage">
        <h2>Composants</h2>
        <ul>
            <li *ngFor="let aliment of box['aliments']">{{aliment.nom}} x{{aliment.quantite}}</li>
        </ul>
    </ng-container>
    <form [formGroup]="addItemForm">
        <div>
            <button (click)="minus()">-</button>
            <input type="number" formControlName="itemNumber" max="{{maxLength}}" min="{{minLength}}">
            <button (click)="add()">+</button>
        </div>
        <p *ngIf="maxLength == 0" class="errorMessage">*Vous ne pouvez pas commander plus de dix box en même temps.</p>
        <button type="submit" id="selection" (click)="onSubmit()" [disabled]="maxLength == 0">Ajouter au panier</button>
    </form>
</section>


<!-- BOX DESKTOP-->
<section id="box2">
    <img src="/assets/ressource/greenTopLeft.svg" id="greenTopLeft">
    <img src="/assets/ressource/greenTopRight2.svg" id="greenTopRight2">
    <img src="/assets/ressource/bamboo2.svg" id="bamboo">

    <ng-container *ngFor="let box of boxInfo">
        <div id="allInfos">
            <img src="/assets/ressource/box/{{box.image}}.png" id="boxImage">
            <div>
                <h2>{{box.nom}}</h2>
                <p id="price">{{box.prix}} €</p>
                <h2>Composants</h2>
                <ul>
                    <li *ngFor="let aliment of box['aliments']">{{aliment.nom}} x{{aliment.quantite}}</li>
                </ul>
                <form [formGroup]="addItemForm">
                    <div>
                        <button (click)="minus()">-</button>
                        <input type="number" formControlName="itemNumber" max="{{maxLength}}" min="{{minLength}}">
                        <button (click)="add()">+</button>
                    </div>
                    <p *ngIf="maxLength == 0" class="errorMessage">*Vous ne pouvez pas commander plus de dix box en même temps.</p>
                    <button type="submit" id="selection" (click)="onSubmit()" [disabled]="maxLength == 0">Ajouter au panier</button>
                </form>
            </div>
        </div>
    </ng-container>
    <hr>
    <div routerLink="/app-menu" id="others">
        <p>Commander un autre plat</p>
    </div>
</section>