header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 60px);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: var(--black);
    z-index: 32;
    border-bottom: 1px solid var(--green);
}

header > #appTitle {
    width: 130px;
}

header > div {
    position: relative;
}

header > div > #bag {
    width: 35px;
}

header > div > #bagTotalCount {
    position: absolute;
    bottom: 0px;
    right: -5px;
    border-radius: 100%;
    width: 17px;
    height: 17px;
    font-size: 0.8rem;
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}