<header id="header1" *ngIf="showHeader">
    <img routerLink="/app-accueil" src="/assets/ressource/SushiCoBlack.svg" class="appTitle" routerLink="app-rgpd">
    <div routerLink="/app-bag" id="sph1">
        <img src="/assets/ressource/Bag.svg" id="bag" [ngClass]="{'activeBag' : isActive}">
        <div id="bagTotalCount">{{itemNumber}}</div>
    </div>
</header>

<!--header-pc-->

<header id="header2" *ngIf="showHeader">
    <div>
        <img routerLink="/app-accueil" src="/assets/ressource/SushiCoBlack.svg" class="appTitle" routerLink="app-rgpd">
    </div>
    <div id="navbar2">
        <div routerLink="/app-accueil">
            <img src="/assets/ressource/home.svg" id="_home">
        </div>
        <div routerLink="/app-menu">
            <img src="/assets/ressource/menu.svg" id="_menu">
        </div>
        <div routerLink="/app-compte">
            <img src="/assets/ressource/compte.svg" id="_compte">
        </div>
        <div routerLink="/app-bag">
            <img src="/assets/ressource/Bag.svg" id="_bag">
            <div id="bagTotalCount">{{itemNumber}}</div>
        </div>
    </div>
</header>