#header1 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 60px);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: var(--white);
    z-index: 32;
    border-bottom: 1px solid var(--green);
}

#header1 > #appTitle {
    width: 130px;
}

#header1 > div {
    position: relative;
}

#header1 > div > #bag {
    width: 35px;
    filter: grayscale(1);
}

#header1 > div > #bagTotalCount {
    position: absolute;
    bottom: 0px;
    right: -5px;
    border-radius: 100%;
    width: 17px;
    height: 17px;
    font-size: 0.8rem;
    background-color: var(--white);
    color: var(--green);
    border: 1px solid var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.activeBag {
    filter: grayscale(0) !important;
}

/*header for pc*/
#header2 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 60px);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: var(--black);
    z-index: 32;
    border-bottom: 1px solid var(--green);
}

#navbar2 {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15%;
}

#navbar2>div {
    cursor: pointer;
}

#header2 > div > img {
    width: 60%;
}

#header2 > #navbar2 > div {
    position: relative;
}

#header2 > #navbar2 > div > #_bag {
    width: 35px;
}

#header2 > #navbar2 > div > #bagTotalCount {
    position: absolute;
    bottom: -5px; /* Adjust the positioning as needed */
    right: -5px;
    border-radius: 100%;
    width: 17px;
    height: 17px;
    font-size: 0.8rem;
    background-color: var(--white);
    color: var(--green);
    border: 1px solid var(--green);
    display: flex;
    justify-content: center;
    align-items: center;

}
#TEST{
    position: relative;
}

.activeBag {
    filter: grayscale(0) !important;
}

/*header for pc*/
#header2 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 60px);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: var(--black);
    z-index: 32;
    border-bottom: 1px solid var(--green);
}

#navbar2 {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15%;
}

#navbar2>div {
    cursor: pointer;
}

#header2 > div > img {
    width: 60%;
}

#header2 > #navbar2 > div {
    position: relative;
}

#header2 > #navbar2 > div > #_bag {
    width: 35px;
}

#header2 > #navbar2 > div > #bagTotalCount {
    position: absolute;
    bottom: -5px; /* Adjust the positioning as needed */
    right: -5px;
    border-radius: 100%;
    width: 17px;
    height: 17px;
    font-size: 0.8rem;
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--green);
    display: flex;
    justify-content: center;
    align-items: center;

}
#TEST{
    position: relative;
}