#header1 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 60px);
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: var(--white);
    z-index: 32;
    border-bottom: 1px solid var(--green);
    box-shadow: 0px 1px 4px #5D935C;
}

#header1 > .appTitle {
    width: 130px;
    cursor: pointer;
}

#header1 > div {
    position: relative;
}
#sph1{
    cursor: pointer;
}

#header1 > div > #bag {
    width: 35px;
    filter: grayscale(1);
    transition: 0.5s ease;
}
#header1 > div > #bag:hover{
    filter: grayscale(0);
}
#header1 > div > #bagTotalCount {
    position: absolute;
    bottom: 0px;
    right: -5px;
    border-radius: 100%;
    background-color: var(--white);
    border: 2px solid var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--black);
    width: 20px;
    height: 20px;
}

.activeBag {
    filter: grayscale(0) !important;

}



/*header for pc*/
#header2 {
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100% - 60px);
    height: 55px;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: var(--white);
    z-index: 32;
    border-bottom: 1px solid var(--green);
    box-shadow: 0px 1px 4px #5D935C;

}
#header2 > .appTitle {
    width: 130px;
    cursor: pointer;
}

#navbar2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

#navbar2 > div {
    cursor: pointer;
}

#navbar2 > div > img {
    width: 90%;
    filter : grayscale(1);
    transition: 0.5s ease;
}

#navbar2 > div > img:hover {
    filter : grayscale(0);
}

#header2 > div > img {
    width: 90%;
}

#header2 > #navbar2 > div {
    position: relative;
}

#header2 > #navbar2 > div > #_bag {
    width: 35px;
}

#header2 > #navbar2 > div > #bagTotalCount {
    position: absolute;
    bottom: -5px; /* Adjust the positioning as needed */
    right: -5px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: var(--white);
    border: 2px solid var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--black);
}

.activeBag {
    filter: grayscale(0) !important;
}
@media screen and (min-width: 768px){
    #header1 {
        height: 50px;
    }
    #header2 {
        height: 50px;
    }
}
@media screen and (min-width: 1024px){
    .appTitle{
        cursor: pointer;
    }
    #header1 {
        display: none;
    }
    #header2 {
        height: 50px;
        display: flex;
    }

}
@media screen and (min-width: 2560px){
    #header2 {
        height: 97px;
    }
    #accueil_2 #ourMenu_2 h2 {
        font-size: 2.4rem;
    }
    #recommandation_2 > h2 {
        display: flex;
        width: 100%;
        font-size: 2.4rem;
        justify-content: center;
        font-family: Poppins !important;
        font-weight: 600;
    }
    #accueil_2 #pointsContainer_2 {
        width: 483px;
        height: 53px;
        right: 20px;
        border-radius: 15px;
    }
    #accueil_2 #pointsContainer_2 > h3 {
        font-size: 2.5rem;
    }
}