<section id="demarrage">
    <div id="imgContainer">
        <img src="/assets/ressource/SushiCoBlack.svg" alt="SushiKo" id="sushiko">
        <img src="/assets/ressource/sushiJap.svg" alt="Sushi en japonais" id="sushiJap">
        <img src="/assets/ressource/panda.svg" alt="Panda" id="panda">
    </div>
    <img src="/assets/ressource/bamboo.svg" alt="Bamboo" id="bamboo">
    <img src="/assets/ressource/bamboo3.svg" alt="Bamboo" id="bamboo3">
    <img src="/assets/ressource/bamboo4.svg" alt="Bamboo" id="bamboo4">
    <img src="/assets/ressource/bamboo5.svg" alt="Bamboo" id="bamboo5">
    <div id="buttonContainer">
        <a routerLink="/app-connexion" routerLinkActive="active" id="connexion" class="button1">Se connecter</a>
        <a routerLink="/app-inscription" routerLinkActive="active" id="inscription" class="button2">S'inscrire</a>
        <a (click)="accessUnknown()" id="non_inscrit">Continuer sans s'inscrire</a>
    </div>
</section>

