<section id="ListCommande">
<div id="commande" routerLink="/app-compte" routerLinkActive="active">
    <h2>Commande(s)</h2>
<div class="command-history">
    <div class="command-details">
        <h3>Nom de l'article</h3>
        <p>Description de l'article</p>
        <div class="buttons">
            <button class="add-button">Ajouter</button>
            <button class="remove-button">Supprimer</button>
        </div>
    </div>
    <div class="command-details">
        <h3>Nom de l'article</h3>
        <p>Description de l'article</p>
        <div class="buttons">
            <button class="add-button">Ajouter</button>
            <button class="remove-button">Supprimer</button>
        </div>
    </div>
    <div class="command-details">
        <h3>Nom de l'article</h3>
        <p>Description de l'article</p>
        <div class="buttons">
            <button class="add-button">Ajouter</button>
            <button class="remove-button">Supprimer</button>
        </div>
    </div>
    <div class="command-details">
        <h3>Nom de l'article</h3>
        <p>Description de l'article</p>
        <div class="buttons">
            <button class="add-button">Ajouter</button>
            <button class="remove-button">Supprimer</button>
        </div>
    </div>
</div>
</div>
</section>