body{
    background-color: var(--black);
    height:100em;
}
#ListCommande {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    padding-top: 60px;
    color: white;
    background-color: var(--black);
    overflow-y:scroll;
}
#ListCommande #commande {
    position: relative;
    margin: 35px;
    height: 20%;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 10;
}
#ListCommande #commande h2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.3rem;
}
#ListCommande > h2 {
    font-family: Poppins;
    font-size: 1.3rem;
    margin: 25px 0px 15px 10%;
    align-self: flex-start;
}
h1 {
    font-family: Poppins;
    font-size: 2.3rem;
    align-self: flex-start;
}
p{
    font-family: Poppins;
    text-align: justify;
    margin-right: 2em;
}
h3{
    font-size: 1.6rem;
}
.command-history {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Espacement entre chaque élément de commande */
}

.command-details {
    flex: 1;
    border-bottom: 1px solid #5d935c; /* Prend le reste de l'espace disponible */
}

.command-details h3 {
    margin: 0;
}
.buttons {
    margin-top: 10px;
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
}
.buttons button {
    margin-right: 10px;
    color: var(--white);
    padding: 5px 25px;
    font-size: 1.2rem;
    border-radius: 30px;
    font-weight: 500;
}
.remove-button{
    border: 1px solid var(--green);
    background-color: #202020;
    font-family: Poppins;
}
.annuler{
    border: 1px solid #E35052;
    background-color: #E35052;
    font-family: Poppins;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.add-button{
    border: 1px solid var(--green);
    background-color: var(--green);
    font-family: Poppins;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.add-button:hover {
    background-color: var(--dark-green); /* Ajoutez la couleur de fond souhaitée lors du survol */
    color: var(--light-green); /* Ajoutez la couleur de texte souhaitée lors du survol */
}
.add-button:active {
    background-color: var(--darker-green); /* Ajoutez la couleur de fond souhaitée lorsqu'actif */
    color: var(--lighter-green); /* Ajoutez la couleur de texte souhaitée lorsqu'actif */
}
.annuler:hover {
    background-color: var(--darker-red); /* Ajoutez la couleur de fond souhaitée lors du survol */
    color: var(--lighter-red); /* Ajoutez la couleur de texte souhaitée lors du survol */
}
.annuler:active {
    background-color: var(--darker-red); /* Ajoutez la couleur de fond souhaitée lorsqu'actif */
    color: var(--lighter-red); /* Ajoutez la couleur de texte souhaitée lorsqu'actif */
}
#commande{
    margin-left:23px
}
.separator {
    width: 1px;
    background-color: white;
}
.history1{
    width: 100%;
}
.history2{
    width: 100%;
}
.price{
    display:flex;
    justify-content: space-between;
}
#prix{
    font-family: Poppins;
}
@media screen and (max-width: 1210px) {
    .command-history {
        flex-direction: column;
    }
    .buttons {
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
    .buttons button {
        margin-right: 10px;
        color: var(--white);
        padding: 5px 2.5em; /* Utilisation d'une unité de police relative */
        font-size: 0.5rem; /* Vous pouvez ajuster cette valeur selon vos besoins */
        border-radius: 30px;
        font-weight: 500;
    }
    p{
        margin-right: 2em;
        font-size: 1.0rem;
    }
}
