<section id="ListCommande">
<div id="commande" routerLink="/app-compte" routerLinkActive="active">
    <h1>Mon Profil</h1>
    <h2>Historique des commandes</h2>
    <br>
<div class="command-history">
    <div class="history1">
        <div class="command-details">
            <div class="price">
                <h3>Commande 1</h3>
                <h3 id="prix">10.90 €</h3>
            </div>
            <p>Postremo ad id indignitatis est ventum, ut cum peregrini ob formidatam haut ita dudum alimentorum inopiam pellerentur ab urbe praecipites, sectatoribus.</p>
            <div class="buttons">
                <div>
                    <button class="add-button">Détails</button>
                    <button href=""class="remove-button">En cours de livraison</button>
                </div>
                <button href=""class="annuler">Annuler</button>
            </div>
        </div>
        <div class="command-details">
            <div class="price">
                <h3>Commande 2</h3>
                <h3 id="prix">10.90 €</h3>
                </div>
            <p>Postremo ad id indignitatis est ventum, ut cum peregrini ob formidatam haut ita dudum alimentorum inopiam pellerentur ab urbe praecipites, sectatoribus.</p>
            <div class="buttons">
                <div>
                    <button class="add-button">Détails</button>
                    <button class="remove-button">En cours de livraison</button>
                </div>
                <button class="annuler">Annuler</button>
            </div>
        </div>
        <div class="command-details">
            <div class="price">
                <h3>Commande 3</h3>
                <h3 id="prix">10.90 €</h3>
                </div>
            <p>Postremo ad id indignitatis est ventum, ut cum peregrini ob formidatam haut ita dudum alimentorum inopiam pellerentur ab urbe praecipites, sectatoribus.</p>
            <div class="buttons">
                <div>
                    <button class="add-button">Détails</button>
                    <button class="remove-button">En cours de livraison</button>
                </div>
                <button class="annuler">Annuler</button>
            </div>
        </div>
        <div class="command-details">
            <div class="price">
                <h3>Commande 4</h3>
                <h3 id="prix">10.90 €</h3>
                </div>
            <p>Postremo ad id indignitatis est ventum, ut cum peregrini ob formidatam haut ita dudum alimentorum inopiam pellerentur ab urbe praecipites, sectatoribus.</p>
            <div class="buttons">
                <div>
                    <button class="add-button">Détails</button>
                    <button class="remove-button">En cours de livraison</button>
                </div>
                <button class="annuler">Annuler</button>
            </div>
        </div>
    </div>
<div class="separator"></div>
<div class="history2">
    <div class="command-details">
        <div class="price">
            <h3>Commande 5</h3>
            <h3 id="prix">10.90 €</h3>
            </div>
        <p>Postremo ad id indignitatis est ventum, ut cum peregrini ob formidatam haut ita dudum alimentorum inopiam pellerentur ab urbe praecipites, sectatoribus.</p>
        <div class="buttons">
            <div>
                <button class="add-button">Détails</button>
                <button class="remove-button">En cours de livraison</button>
            </div>
            <button class="annuler">Annuler</button>
        </div>
    </div>
    <div class="command-details">
        <div class="price">
            <h3>Commande 6</h3>
            <h3 id="prix">10.90 €</h3>
            </div>
        <p>Postremo ad id indignitatis est ventum, ut cum peregrini ob formidatam haut ita dudum alimentorum inopiam pellerentur ab urbe praecipites, sectatoribus.</p>
        <div class="buttons">
            <div>
                <button class="add-button">Détails</button>
                <button class="remove-button">En cours de livraison</button>
            </div>
            <button class="annuler">Annuler</button>
        </div>
    </div>
    <div class="command-details">
        <div class="price">
            <h3>Commande 7</h3>
            <h3 id="prix">10.90 €</h3>
            </div>
        <p>Postremo ad id indignitatis est ventum, ut cum peregrini ob formidatam haut ita dudum alimentorum inopiam pellerentur ab urbe praecipites, sectatoribus.</p>
        <div class="buttons">
            <div>
                <button class="add-button">Détails</button>
                <button class="remove-button" (click)="disconnectUser()">En cours de livraison</button>
            </div>
            <button class="annuler">Annuler</button>
        </div>
    </div>
    <div class="command-details">
        <div class="price">
            <h3>Commande 8</h3>
            <h3 id="prix">10.90 €</h3>
            </div>
        <p>Postremo ad id indignitatis est ventum, ut cum peregrini ob formidatam haut ita dudum alimentorum inopiam pellerentur ab urbe praecipites, sectatoribus.</p>
        <div class="buttons">
            <div>
                <button class="add-button">Détails</button>
                <button class="remove-button">En cours de livraison</button>
            </div>
            <button class="annuler">Annuler</button>
        </div>
    </div>
</div>
</div>
</div>
</section>