<section id="ListCommande">
    <div id="commande" routerLink="/app-bag" routerLinkActive="active">
        <h1>Commande(s)</h1>
        <br>
        <div class="command-history">
            <div class="history1">
                <div class="command-details">
                    <div class="price">
                        <h3>Pack 1</h3>
                        <button id="quantite"> 1× </button>
                    </div>
                    <p>Postremo ad id indignitatis est ventum, ut cum peregrini ob formidatam haut ita dudum alimentorum inopiam pellerentur ab urbe praecipites, sectatoribus.</p>
                    <div class="buttons">
                        <div>
                        <button class="remove-button">Supprimer</button>
                        </div>
                        <h3 id="prix">10.90 €</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons" style="margin-top:1em;">
            <h3 id="prixT">Total : 127.09 €</h3>
            <button class="commander">Commander</button>
        </div>
    </div>
</section>