body{
    background-color: var(--black);
    height:100em;
}
#bambouleft{
    width: 13em !important;
    position: absolute;
    right: 0px;
    bottom: -29px;
}
#Greentopic{
    width: 21em !important;
    position: absolute;
    top: 0px;
    right:0px;
}
#bambouright{
    width: 13em !important;
    position: absolute;
    left: 0px;
    bottom: -29px;
}
#ListCommande {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    padding-top: 60px;
    color: white;
    background-color: var(--white);
    color: var(--black);
    overflow-y:auto;
    scrollbar-width: thin;
    scrollbar-color: var(--green) transparent;
}

#ListCommande #commande {
    margin: 35px;
    padding: 10px 20px 100px 20px;
    border-radius: 10px;
    z-index: 10;
}

#ListCommande #commande h2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.3rem;
}

#ListCommande > h2 {
    font-family: Poppins;
    font-size: 1.3rem;
    margin: 25px 0px 15px 10%;
    align-self: flex-start;
}

h1 {
    font-family: Poppins;
    font-size: 1.6rem;
    align-self: flex-start;
}

p, li{
    font-family: Poppins;
    font-size: 0.9rem;
}

h3{
    font-size: 1.6rem;
}

.command-history {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.command-details {
    flex: 1;
    border-bottom: 1px solid #5d935c;
}

.command-details h3 {
    margin: 0;
}
.buttons {
    margin-top: 10px;
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.remove-button{
    border: 1px solid var(--red);
    background-color: var(--red);
    font-family: Poppins;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.add-button{
    border: 1px solid var(--green);
    background-color: var(--green);
    font-family: Poppins;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.commander{
    border: 1px solid var(--green);
    background-color: var(--green);
    font-family: Poppins;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.5em;
}

.buttons .commander {
    margin-right: 10px;
    color: var(--white);
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 500;
}

.commander:hover {
    background-color: var(--green-hover);
    color: var(--white) !important
}

.remove-button:hover {
    background-color: #ac3c3e;
    color: var(--white) !important
}
span{
    font-family:Poppins;
    color:#5d935c;
    cursor: pointer;
}
span:hover{
    color:#246722;
}
#commande{
    margin-left:23px
}
#commande hr {
    border-color: var(--green);
}
.separator {
    width: 1px;
    background-color: white;
}
#_bag{
    width:auto;
    height:4em;
}
.history1{
    width: 100%;
}

.history2{
    width: 100%;
}

.price{
    display:flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}
#panier{
    margin:3em;
}
#prixT{
    color: var(--green);
    font-family: Poppins;
    text-decoration: underline;
    font-size: 1.3em;
}

#prix{
    font-family:Poppins;
}

#quantite{
    border-radius: 30px;
    color: var(--white);
    font-size: 1.0rem;
    border: 1px solid var(--green);
    background-color: var(--green);
    font-family: Poppins;
    transition: background-color 0.3s, color 0.3s;
    width: 3em;
}

.buttons button {
    margin-right: 10px;
    color: var(--white);
    padding: 5px 10px;
    color: var(--white);
    padding: 5px 2.5em;
    font-size: auto;
    border-radius: 30px;
    font-weight: 500;
}
@media screen and (max-width: 1200px) {
    .command-history {
        flex-direction: column;
    }
    .buttons button {
        margin-right: 10px;
        color: var(--white);
        padding: 5px 10px;
        font-size: 0.9rem;
        border-radius: 30px;
        font-weight: 500;
    }
    p{
        font-family: Poppins;
        text-align: justify;
        margin-right: 2em;
    }
    #Greentopic{
    top: 318px;
    offset-rotate: reverse;
    transform: rotate(49deg);
    }
    #bambouleft{
        display:none;
    }
    #bambouright{
        display:none;
    }
}

@media screen and (max-width: 425px) {
    .command-history {
        flex-direction: column;
    }
    .buttons button {
        margin-right: 10px;
        color: var(--white);
        padding: 5px 10px;
        font-size: 0.9rem;
        border-radius: 30px;
        font-weight: 500;
    }
    p{
        font-family: Poppins;
        text-align: justify;
        margin-right: 2em;
    }
    #ListCommande #commande {
        padding: 0px;
    }
    h3 {
        font-size: 1.4rem;
    }
    #but{
        margin-top: 5%;
        margin-bottom: 35%;
    }
    #Greentopic{
        top: 318px;
        offset-rotate: reverse;
        transform: rotate(49deg);
        }
        #bambouleft{
            display:none;
        }
        #bambouright{
            display:none;
        }
}

@media screen and (max-width: 375px) {
    ul {
        padding-left: 27px;
    }
    #Greentopic{
        top: 318px;
        offset-rotate: reverse;
        transform: rotate(49deg);
        }
        #bambouleft{
            display:none;
        }
        #bambouright{
            display:none;
        }
}

@media screen and (max-width: 320px) {
    .command-history {
        flex-direction: column;
    }
    .buttons button {
        margin-right: 10px;
        color: var(--white);
        padding: 5px 10px;
        font-size: 0.9rem;
        border-radius: 30px;
        font-weight: 500;
    }
    p{
        font-family: Poppins;
        text-align: justify;
        margin-right: 2em;
    }
    #but{
        display: flex;
        flex-direction: column!important;
        align-items: baseline;

    }
    #Greentopic{
        top: 318px;
        offset-rotate: reverse;
        transform: rotate(49deg);
        }

    #but>#prixT{
        margin-bottom: 10px;
    }
    #bambouleft{
        display:none;
    }
    #bambouright{
        display:none;
    }
}
