<section id="menu">
    <img src="/assets/ressource/greenTopRight2.svg" id="greenTopRight2">
    <img src="/assets/ressource/bamboo2.svg" id="bamboo">
    <h2>Nos Menus</h2>
    <div id="filterContainer">
        <div class="filter selected">Tout</div>
        <div class="filter">Sushi</div>
        <div class="filter">Maki</div>
        <div class="filter">Yakitori</div>
        <div class="filter">Takoyaki</div>
    </div>
    <div id="allBoxes">
        <div *ngFor="let box of boxes" [ngClass]="box?.saveurs" class="box" (click)="selectBoxID(box.id);">
            <img *ngIf="box.fav == '1'" src="/assets/ressource/fav.svg" class="fav">
            <p>{{box?.nom}}</p>
            <div>
                <p>{{box?.prix}}€</p>
                <div class="stars">
                    <img src="assets/ressource/star.svg">
                    <p>{{box?.stars}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
