<section id="menu">
    <h2>Nos Menus</h2>
    <div id="filterContainer">
        <div class="filter selected">Tout</div>
        <div class="filter">Sushi</div>
        <div class="filter">Maki</div>
        <div class="filter">Yakitori</div>
        <div class="filter">Takoyaki</div>
    </div>
    <div id="allBoxes">
        <div class="box" routerLink="/app-box" routerLinkActive="active">
            <img src="/assets/ressource/fav.svg" class="fav">
            <p>Pack 1</p>
            <div>
                <p>15.00€</p>
                <div class="stars">
                    <img src="assets/ressource/star.svg">
                    <p>5.0</p>
                </div>
            </div>
        </div>
        <div class="box" routerLink="/app-box" routerLinkActive="active">
            <p>Pack 1</p>
            <div>
                <p>15.00€</p>
                <div class="stars">
                    <img src="assets/ressource/star.svg">
                    <p>5.0</p>
                </div>
            </div>
        </div>
        <div class="box" routerLink="/app-box" routerLinkActive="active">
            <p>Pack 1</p>
            <div>
                <p>15.00€</p>
                <div class="stars">
                    <img src="assets/ressource/star.svg">
                    <p>5.0</p>
                </div>
            </div>
        </div>
        <div class="box" routerLink="/app-box" routerLinkActive="active">
            <p>Pack 1</p>
            <div>
                <p>15.00€</p>
                <div class="stars">
                    <img src="assets/ressource/star.svg">
                    <p>5.0</p>
                </div>
            </div>
        </div>
        <div class="box" routerLink="/app-box" routerLinkActive="active">
            <p>Pack 1</p>
            <div>
                <p>15.00€</p>
                <div class="stars">
                    <img src="assets/ressource/star.svg">
                    <p>5.0</p>
                </div>
            </div>
        </div>
        <div class="box" routerLink="/app-box" routerLinkActive="active">
            <p>Pack 1</p>
            <div>
                <p>15.00€</p>
                <div class="stars">
                    <img src="assets/ressource/star.svg">
                    <p>5.0</p>
                </div>
            </div>
        </div>
        <div class="box" routerLink="/app-box" routerLinkActive="active">
            <p>Pack 1</p>
            <div>
                <p>15.00€</p>
                <div class="stars">
                    <img src="assets/ressource/star.svg">
                    <p>5.0</p>
                </div>
            </div>
        </div>
        <div class="box" routerLink="/app-box" routerLinkActive="active">
            <p>Pack 1</p>
            <div>
                <p>15.00€</p>
                <div class="stars">
                    <img src="assets/ressource/star.svg">
                    <p>5.0</p>
                </div>
            </div>
        </div>
    </div>
</section>
