<section id="connexion">
    <img src="/assets/ressource/greenTopRight.svg" id="greenTopRight">
    <img src="/assets/ressource/greenBottomLeft.svg" id="greenBottomLeft">
    <img src="/assets/ressource/sushiKoWhite.svg" alt="SushiKo" id="sushiko">
    
    <h2>Inscrivez-vous</h2>
    <hr>
    <form>
        <div>
            <label for="email">E-mail*</label>
            <input type="email" placeholder="sushi@gmail.com" id="email" autocomplete="on">
        </div>
        <hr>
        <div>
            <label for="mdp">Mot de passe*</label>
            <input type="password" placeholder="8 caractères minimum" autocomplete="on">
        </div>
        <hr>
    </form>
    
    <a routerLink="/app-connexion" routerLinkActive="active" id="inscriptionButton">Créer mon Compte</a>
    <a routerLink="/app-connexion" routerLinkActive="active" id="connexionButton">Me connecter</a>
</section>
