nav {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    background-color: var(--black);
    width: 85%;
    display: flex;
    justify-content: center;
    gap: 3.2rem;
    border: 2px solid var(--green);
    border-radius: 30px;
    padding: 7px 0px;
    z-index: 10;
}

nav img {
    width: 35px;
}