div {
    position: fixed;
    padding: 10px 0px;
    bottom: 0px;
    background-color: rgba(255 , 255, 255, 0.98);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

div > nav {
    background-color: var(--white);
    width: 85%;
    display: flex;
    justify-content: center;
    gap: 3.2rem;
    border: 2px solid var(--green);
    border-radius: 30px;
    padding: 7px 0px;
}

div >nav img {
    width: 35px;
    filter: grayscale(1);
}

.active img {
    filter: grayscale(0) !important;
}

@media screen and (min-width: 1024px){
    div {
        display: none;
    }
}